@model IEnumerable<EasyJobHunter.Models.tbl_category_j>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
	<div class="container">
		<a href="@Url.Action("Index","Home")" class="navbar-brand">
			<img src="@Url.Content("~/img/logo.png")" alt="Logo" class="brand-image img-circle">
		</a>

		<button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse order-3" id="navbarCollapse">
			<!-- Left navbar links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="@Url.Action("Index","Home")" class="nav-link">Home</a>
				</li>
				<li class="nav-item">
					<a href="@Url.Action("AboutUs","Home")" class="nav-link">About Us</a>
				</li>

				<li class="nav-item dropdown">
					<a id="dropdownSubMenu2" href=" " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Temporary & Part time</a>
					<ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow" style="left: 0px; right: inherit; width:230px">
						<li><a class="dropdown-item bg-white" href="@Url.Action("Index", "Job", new { id = 0})">All</a></li>
						@foreach (var i in Model)
						{
							<li class="dropdown-divider"></li>
							<li><a class="dropdown-item bg-white" href="@Url.Action("Index", "Job", new { id = i.id})">@i.name</a></li>
						}
					</ul>
				</li>

				<li class="nav-item">
					<a href="@Url.Action("Main","Service")" class="nav-link">Micro Job</a>
				</li>

			</ul>

		</div>

		<!-- Right navbar links -->
		<ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">

			@if (HttpContextAccessor.HttpContext.Session.GetString("USERID") != null)
			{
				<li class="nav-item">
					<a class="nav-link" href="@Url.Action("Index", "Profile")" onclick="loading();" data-toggle="tooltip" title="@HttpContextAccessor.HttpContext.Session.GetString("NAME") profile">
						<i class="fas fa-user"></i>
					</a>
				</li>

				<li class="nav-item">
					<a href="@Url.Action("Logout", "Login")" class="nav-link" data-toggle="tooltip" title="Log Out">
						<i class="fas fa-sign-out-alt"></i>
					</a>
				</li>
			}
			else
			{
				<li class="nav-item">
					<a href="@Url.Action("Index", "Login")" class="nav-link" data-toggle="tooltip" title="Log In">
						<i class="fas fa-user"></i>
					</a>
				</li>
			}


		</ul>
	</div>
</nav>